//allow, *, *, $data._id, { path: '/inspire', owner: { _id: '$data._id' }}, *

//allow, *, *, *, *, =valid
//deny, *, *, *, *, =invalid

//deny, Аноним, *, pageData, {path:'=/inspire'}, *

deny, Аноним, *, *, *, *, *, 403
deny, *, *, *, *, *, =not-exists, 404



deny, Пользователи, *, *, *, =invalid, *, 401
allow, Пользователи, *, *, *, =valid, *
allow, Пользователи, *, pageData, { path: '=/news' }, *, *
allow, *, *, pageData, {path:'(/$)|(/signin$)|(/signup$)'}, *, *

allow, *, *, *, { path: '=/404' }, *, *

//allow, Аноним, *, *, *, *, *, 403
allow, *, UI, menus, *, *, *

//deny,Аноним,Account,signout,,*

//deny,*,*,*,{path:'=/inspire'},=invalid

allow, *, Account, *, *, *, *
deny, Аноним, Account, =get, *, *, =exists, 405

deny, Пользователи, *, pageData, {path:'(/users$)|(/ACL.*$)'}, =valid, *, 403
allow, Администраторы, *, pageData, {path:'(/users$)|(/ACL.*$)'}, =valid, *